Name                      : common-BELirPvx.css
UTI                       : public.css
Kind                      : CSS
Owner                     : root (0)
Group                     : wheel (0)
Mode                      : -rwxr--r-- (0100744)
Size                      : 17651
Unverified CRC-32         : 691861351
