Name                      : default_US_export.policy
UTI                       : public.data
Kind                      : Document
Owner                     : root (0)
Group                     : wheel (0)
Mode                      : -rw-r--r-- (0100644)
Size                      : 146
Unverified CRC-32         : 3127246917
