Name                      : app_mode-Info.plist
UTI                       : com.apple.xml-property-list
Kind                      : XML property list
Owner                     : root (0)
Group                     : wheel (0)
Mode                      : -rw-r--r-- (0100644)
Size                      : 1590
Unverified CRC-32         : 2406516706
