Name                      : SUModelTranslation.plist
UTI                       : com.apple.xml-property-list
Kind                      : XML property list
Owner                     : root (0)
Group                     : wheel (0)
Mode                      : -rw-r--r-- (0100644)
Size                      : 11859
Unverified CRC-32         : 2021741824
