Name                      : ReleaseNotesColorStyle.css
UTI                       : public.css
Kind                      : CSS
Owner                     : root (0)
Group                     : admin (80)
Mode                      : -rw-r--r-- (0100644)
Size                      : 231
Unverified CRC-32         : 2141656715
