Name                      : jaxp-strict.properties.template
UTI                       : com.apple.iwork.pages.sfftemplate
Kind                      : Pages template
Owner                     : root (0)
Group                     : wheel (0)
Mode                      : -rw-r--r-- (0100644)
Size                      : 4937
Unverified CRC-32         : 2971245786
